@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;500;700;800&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2E3436;
  color: #D3D7CF;
  font-family: 'JetBrains Mono', monospace;
  font-size: 11pt;
}

main {
  display: flex;
  justify-content: center;
  height: 100dvh;
}

section {
  background-color: #242829;
  padding: 10px 50px;
  min-height: 33rem;
}